* text=auto eol=lf
*.ps1 text eol=lf
*.psm1 text eol=lf
*.psd1 text eol=lf
*.cs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.lua text eol=lf
*.jsx text eol=lf
**/configs/full-skill-v1/resource-plan-v3.json -text !eol
*.NPK filter=lfs diff=lfs merge=lfs -text
